.infoText {
  margin: 0 auto;
  padding: 10px;
  color: black;
  font-size: 15px;
}

.infoText strong {
  color: #7405f2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
  height: 100vh;
}
.SpinnerContainer {
  margin-top: 200px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  background-color: #f9f9f9;
}
.title {
  color: #f29f05;
  margin: 0 auto;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.label {
  margin-bottom: 5px;
  font-weight: bold;

  color: #f29f05;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #f29f05;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover {
  background-color: #c48512;
}

.error {
  color: red !important;
  padding-bottom: 10px;
}
