* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Fantasy", cursive;
  text-decoration: none;
}

body {
  background-color: rgb(120, 41, 210);
  font-family: "Fantasy", cursive;
  color: #4a2f27;
  text-align: center;
}
p,
h2 {
  color: #ffffff;
}
.SpinnerContainer {
  margin-top: 150px;
}
