.container {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;

  padding: 15px;
  padding-bottom: 20px;
}

.SpinnerContainer {
  margin-top: 150px;
}

.formUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.formUser h2 {
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.inputText {
  width: 100%;
  background-color: rgb(241, 232, 232);
  border-radius: 5px;
  text-align: start;
  padding: 7px;
  margin-top: 2px;
  margin-bottom: 15px;
  font-size: 15px;
  color: rgb(102, 104, 102);
}

.dropdowns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.dropdown {
  padding: 10px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: end;
  gap: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.buttonsItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.buttonGet,
.buttonPost,
.buttonPut,
.buttonDelete {
  border: none;
  padding: 5px 35px;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(241, 233, 233);
}

.buttonGet {
  background-color: #37a6a6;
}
.buttonPost {
  background-color: #a4a637;
}

.buttonPut {
  background-color: #d87e4a;
}

.buttonDelete {
  background-color: #e02765;
}

.buttonGet:hover {
  background-color: #37a6a6b4;
}
.buttonPost:hover {
  background-color: #a4a637ab;
}

.buttonPut:hover {
  background-color: #d87e4aa4;
}

.buttonDelete:hover {
  background-color: #9450a5ad;
}

.resposeContainer {
  position: relative;
  background-color: rgb(241, 232, 232);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  height: 150px;

  padding: 10px;
  border-radius: 5px;
}
.denied {
  text-transform: uppercase;
  color: rgb(226, 58, 58);
  font-weight: 800;
  font-size: 10px;
}
.denied p {
  padding: 15px;
  color: rgb(230, 221, 221) !important;
  background-color: rgb(243, 133, 133);
}
.success {
  color: green;
}

.iconStatusResults {
  position: absolute;
  top: 5px;
  right: 5px;
}
